.container {
  background-color: rgb(44, 0, 95);
  width: 100%;
  height: 100%;
}

/* THEME */
.light{
  background-color: #f2dfce
}
.dark{
  background-color: #0D7680;
}

.loadingPage{
  height: 5000px; 
}


/* HEADER */
.header {
  outline: auto;
  color: green;
  position: static;
  clear: Inline-end;

}
.logo{
  float: left;
  padding: 1.5%;
}

.signIn{
  float: right;
}

.navBar{
  bottom: 40px;
}

/* HOME PAGE */
.homeArticles {
  color: red;
  padding: auto;
  float: centre;
  outline: auto;
  height: 55%;
  width: 80%;
}
.homeArticlesPicture {
  height: 55%;
  width: 55%;
  float: right;
}


/* SUBJECT PAGE */
.subjectArticles {
  color: blue;
  padding: 10px;
  outline: auto;
  float: right;
  margin: 5%;
  height: 20%;
  width: 70%;
  text-align: left;
}
.subjectArticlesPicture {
  height: 25%;
  width: 25%;
  float: right;
}
.subjectArticlesBody {
  font-size: 12px;
}


/* FILTER BAR  */
.filterBar {
  color: purple;
  outline:auto;
  padding: auto;
  float: left;
  top: 100px;
  left: 5px;
  margin: 5%;
  position: fixed;
}

