.flex-container {
  width: 100%;
  height: 100%;
  /* -ms-box-orient: horizontal; */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  /* background-color: blue; */
  flex-flow: row wrap;
  /* flex-direction: row;
  /* -webkit-flex-wrap: wrap;*/
  /* flex-wrap: wrap;   */
}

/* LOG IN TRANSITION */
.show {
  display: block;
  transition: 600ms;
  opacity: 1;
  float: top;
  float: right;
  margin-right: 150%;
  margin-top: -100%;

}


.show.active {
  transform: translateY(100px) scale(0) rotateY(180deg);
  opacity: 0;
  outline: auto;
  color: blue;
  right: 50px;
}

/* THEME */
.light{
  background-color: #f2dfce;
}
.dark{
  background-color: #0D7680;
}
.dark.header{
  background-color: aquamarine;
}


.loadingPage{
  height: 5000px; 
  margin-left: 50%;
  margin-top: 150px;
}



/* HEADER */
.header {
  outline: auto;
  color: green;
  position: static;
  margin: auto;
  clear: Inline-end;
  padding: 0.5%;
  height: 110px
}
.logo{
  float: left;
  padding-right: 4.5%;
  padding-left: 1.5%;
  /* height: 40%;
  width: 40%; */
}

.signInForm{
  /* background-color: black; */
  top: 20%;
  padding-top: 20%;
}

.signIn{
  float: right;
  top: 50px;
  right: 10px;
  /* margin-top: 2%; */
  margin-left: 20px;
  width: 59px;
  display: inline-block;

}

.logOut{
  float: top
}

.signedInElements{
  /* display: inline-block; */
  /* display: block; */
  /* float: left; */
  /* right: 5%; */
  /* margin-right: 10%; */
  height: 50px;
  
  
}

.loggedInAvatar{
  outline: auto;
  color: black;
  right: 75px;
  top: -40px
}


.themeButton{
  float: right;
  top: -3px;
  /* right:-20% */
  right:-175px;
  /* right: -30%; */
}

@media (max-width: 840px) {
  .signedInElements {
    display: none;
  }
  .themeButton{
    display: none;
  }
  .signIn {
    display: none;
  }
  .signInForm{
    display: none;
  }
}

@media (max-width: 710px) {
  .homeArticlesPictureFirst{
    display: none;
  }
}


.navBar{
  /* bottom: 40px; */
  /* margin: 2%; */
  margin-left: 2%;
  margin-top: 2%;
  padding: 1.5%;
  padding-right: 10.5%;
  /* margin-right: 5.5%; */
}

.navBarElement{
  padding: 8px;
  text-decoration: none
}


/* HOME PAGE */


.homeArticlesList {
  list-style-type: none;  
  /* color: red; */
  padding: auto;
  /* margin: 5%; */
  height: 325px;
  width: 250px;
  margin-left: 2.5%;
  margin-bottom: 2.5%;
  /* margin-top: 5%;
  margin-bottom: 5%; */
  position: relative;

}

.homeArticleFirstList{
  list-style-type: none;  
  /* color: green; */
  padding: 0;
  /* margin: 2.5%; */
  margin-bottom: 2.5%;
  margin-left: 2.5%;
  /* margin-right: 2.5%; */
  /* padding-bottom: 2.5%; */
  height: 325px;
  width: 815px;
  /* flex: 0.5; */
}

.homeArticleSecondThirdList{
  list-style-type: none;  
  /* color: yellow; */
  padding: auto;
  /* margin: 5%; */
  margin-left: 4.5%;
  margin-bottom: 2.5%;

  height: 325px;
  width: 425px;
  right: 500px;
  /* font-size: x-small; */
}

.homeArticleContent{
  margin: 0;
}


.homeArticlesPictureFirst {
  height: 325px;
  width: auto;
  float: right;
}

.homeArticlesPictureSecond {
  height: auto;
  width: 90%;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /* float: right; */
}

.homeArticlesPictureRest {
  height: 100%;
  width: 100%;
  /* float: right; */
}

.homeArticlesTitle{
  display: inline-block;
  font-size: large;
  margin:0%;
  margin-top:10px;
  font-weight: 700;
  margin-left:5px;
  color: #1f1d1d;
}

.homeArticlesTitleFirst{
  /* display: inline-block; */
  overflow-wrap: break-word;
  /* text-decoration: none; */
  font-size: xx-large;
  margin:0%;
  margin-top:10px;
  font-weight: 700;
  margin-left:5px;
  color: #1f1d1d;
}

a:link {
  text-decoration: none;
}

.homeArticlesCreatedAt{
  display: inline-block;
  font-size: small;
  margin:0%;
  color: #615c5c;
}

.homeArticlesPostedBy{
  display: inline-block;
  font-size: small;
  font-weight: 600;
  margin:0%;
  margin-right: 7px;
  margin-left:5px;
  color: #1f1d1d;
}

.homeArticlesPostedBy:hover{
  text-decoration: underline;
}

.homeArticlesComments{
  display: inline-block;
  font-size: small;
  margin:0%;
  position: absolute;
  bottom: -10px;
  left: 10px;
  color: #1f1d1d;
} 

.homeArticlesCommentsFirst{
  display: inline-block;
  font-size: small;
  margin:0%;
  /* position: absolute; */
  margin-top:135px;
  margin-left:15px;
  color: #1f1d1d;
} 

.homeArticlesComments:hover{
  color: #b5b0b0;
}


.homeArticlesCommentsFirst:hover{
  color: #b5b0b0;
}

.homeArticlesLikes{
  display: inline-block;
  font-size: small;
  margin:0%;
  position: absolute;
  bottom: 0;
  right: 10px;
  bottom: -10px;
  color: #1f1d1d;
  /* position: absolute;
  bottom: 0%; */
}

.homeArticlesLikes:hover{
  color: #b5b0b0;
}


.homeArticlesLikesFirst{
  display: inline-block;
  font-size: small;
  margin:0%;
  bottom: 0;
  float: right;
  color: #1f1d1d;
  margin-top:135px;
  margin-right:15px;
  /* position: absolute;
  bottom: 0%; */
}

/* SUBJECT PAGE */
.subjectArticlesList{
  margin-left: 130px;
  margin-right: 10%;
  list-style-type: none;
  
}

.subjectArticlesListIndv{
  list-style-type: none;
  height: 215px;
}

.subjectArticles{
  color: black;
  margin-top: 20px;
  padding-bottom: 0%;
  margin-bottom: 50px; 
  /* height: 55%;*/
  right: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  /* box-sizing: border-box; */
  /* background-image: 0; */
}
/* .subjectArticlesPicture {
  height: 100%;
  max-height: 100%;
  width: 29.5%;
  float: right;
  /* margin-top: 20px;
} */
.subjectArticlesPicture {
  height: 215px;
  max-height: 100%;
  /* width: auto; */
  width: 323px;
  float: right;
  /* margin-top: 20px; */
}

.subjectArticlesBody {
  font-size: 12px;
  -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
  height: 100px;
  margin-bottom: 0%;
  margin-top: 2px;
  height: 110px;
  font-size: small;
  color: #1f1d1d;
  /* font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif; */
}

.topic{
  display: inline-block;
  margin: 0%;
  margin-right: 10px;
  font-weight: 700;
  color: #1f1d1d;
  /* color: #615c5c; */
}

.postedDate{
  margin: 0%;
  display: inline-block;
  color: #1f1d1d;
  font-weight: 400;
  font-size: small;
}

.postedBy{
  display: inline-block;
  /* width:50%; */
  margin: 0%;
  margin-right: 10px;
  border: 0%;
  /* float: right; */
  clear: right;
  font-weight: 600;
  box-sizing: border-box;
  font-size: small;
  color: #1f1d1d;
}

.postedBy:hover{
  text-decoration: underline;
}

.articleComments{
  display: inline-block;
  margin-right: 40px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 0%;
  font-size: small;
  position: relative;
  float:left;
  /* top: 10px; */
  bottom: 0px;
  padding-bottom: 0%;
  /* left: 20px; */
  color: #1f1d1d;
}

.articleComments:hover{
  color: #b5b0b0;
}

.articleLikes{
  margin: 0%;
  margin-top: 10px;
  display: inline-block;
  color: #1f1d1d;
  font-size: small;
}

.articleLikes:hover{
    color: #b5b0b0;
}

.articleTitle{
  /* display: inline-block; */
  line-height: normal;
  margin: 0px;
  /* height: 40px; */
  text-overflow: ellipsis-word;
  height: 48px;
  display: flex;
  align-items: center;
  position: relative;
  font-size: medium;
  text-decoration: none;
  color: #1f1d1d;
  font-size: large;
  /* margin-top: 5px; */
  margin: auto

}

.articleLink{
  text-decoration: none
}

@media (max-width: 925px) {
  .subjectArticlesPicture {
    display: none;
  }
}



/* FILTER BAR  */
.filterBar {
  color: purple;
  background-color: whitesmoke;
  width: 125px;
  min-width: 13%;
  float: left;
  top: 40px;
  left: 10px;
  position: fixed;  
}

.filterBarButtons{
  margin-left: 10%;
}


/* OPENED ARTICLE */

.articleOpened{
  margin: 5%;
  margin-right: 15%;
  margin-left: 15%;
}

.postedDateOpened{
  margin: 0%;
  display: inline-block;
}

.postedByOpened{
  display: inline-block;
  /* width:50%; */
  margin: 0%;
  margin-right: 10px;
  border: 0%;
  /* float: right; */
  clear: right;
  box-sizing: border-box;
}

.subjectArticlesPictureOpened{
  height: 90%;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin: 20%; */
  /* margin-top: 20px; */
}

.subjectArticleBodyOpened{
  margin: 2%;
  margin-left: 5%;
  margin-right: 5%;
}

.commentsList{
  /* margin-left: 130px; */
  margin-right: 10%; 
  list-style-type: none;
}

.commentAvatar{
  display: inline-block;
}

.commentPostedByOpened{
  display: inline-block;
}

.commentDateOpened{
  display: inline-block;
}

.commentBodyOpened{
  display: inline-block;
}



/* FOOTER */

.footerSection{
  background-color: #f2dfce;
  outline: auto;
  margin-top: 100px;  
  display: flex;
  flex-direction: column;
  height: 375px;

}

.footerElement{
  
  color: #000;
  float: left;
  margin-left: 15%;
  margin-top: 15px;

}

.contactDetails{
  position: absolute;
  float: right;
  right: 0px;
  margin-right: 10%;
  font-size: medium;
}

.contactDetailsElements{
  list-style-type: none;
  font-weight: 400;
}

.footerFakeLinksList{
  border-top: 3px solid rgb(80, 80, 78);
  margin: auto;
  width:1000px;
  text-align: center;
  padding-top: 40px;
  margin-top: 40px;
}

.footerDiscloser{
  text-align: center;
  width:99%;
  text-align: center;
  margin-bottom: 40px;
}


.footerFakeLinks{
  text-decoration: none;
  margin-right:15px;  
} 

.footerFakeLinks:hover{
  text-decoration: underline;
}