.container {
  background-color: rgb(44, 0, 95);
  width: 100%;
  height: 100%;
}

/* LOG IN TRANSITION */
.show {
  display: block;
  transition: 600ms;
  opacity: 1;
  float: top;
  float: right;
  margin-right: 150%;
  margin-top: -100%;

}


.show.active {
  transform: translateY(100px) scale(0) rotateY(180deg);
  opacity: 0;
  outline: auto;
  color: blue;
  right: 50px;
}

/* THEME */
.light{
  background-color: #f2dfce;
  background: #f2dfce;
  color: #f2dfce;
}
.dark{
  background-color: #0D7680;
}



.loadingPage{
  height: 5000px; 
}


/* HEADER */
.header {
  outline: auto;
  color: green;
  position: static;
  margin: auto;
  clear: Inline-end;
  padding: 0.5%

}
.logo{
  float: left;
  padding-right: 4.5%;
  padding-left: 1.5%;
  /* height: 40%;
  width: 40%; */
}

.signIn{
  float: right;
  top: 5px;
  right: 50px;
  margin-top: 3%;
  margin-right: 3%;
  width: 59px;
}

.themeButton{
  float: right;
  top: -25px;
  right: -80px
}

.navBar{
  bottom: 40px;
  margin: 2%;
  padding: 1.5%;
}

.navBarElement{
  padding: 8px;
}


/* HOME PAGE */
.homeArticles {
  color: red;
  padding: auto;
  margin: auto;
  outline: auto;
  height: 55%;
  width: 80%;
}
.homeArticlesPicture {
  height: 25%;
  width: 25%;
  float: right;
}


/* SUBJECT PAGE */
.subjectArticlesList{
  margin-left: 130px;
  margin-right: 10%;
  list-style-type: none;
}

.subjectArticles{
  color: blue;
  margin-top: 20px;
  padding-bottom: 0%;
  margin-bottom: 50px; 
  /* height: 55%;*/
  right: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  /* box-sizing: border-box; */
  /* background-image: 0; */

  
}
.subjectArticlesPicture {
  height: 150px;
  width: 30%;
  float: right;
}
.subjectArticlesBody {
  font-size: 12px;
  -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
  height: 100px;
}

.postedDate{
  margin: 0%;
}

.postedBy{
  /* width:50%; */
  margin: 0% !important;
  border: 0%;
  /* float: right; */
  clear: right;
  box-sizing: border-box;
}

.articleComments{
  margin: 0%;
}

.articleLikes{
  margin: 0%;
}

.articleTitle{
  margin: 0px
}

/* FILTER BAR  */
.filterBar {
  color: purple;
  background-color: whitesmoke;
  width: 125px;
  min-width: 13%;
  float: left;
  top: 40px;
  left: 10px;
  position: fixed;  
}

.filterBarButtons{
  margin-left: 10%;
}



